.bg-roxo{
    background-color: #7E459B;
}

a:hover{
  font-weight: bold;
}

.imagem-carrousel {
  object-fit: cover;
  object-position: 0 40%;
  height:65vh;
}

.link-sobre{
  color:#7E459B;
 }

 .link-sobre:hover{
  color: #7e459b;
/* hover é o efeito de passar o mouse */
}

.redes-sociais i {
  font-size: 1.3rem;
}

.font-roxo{
  width:100px;
}

button:hover{
  opacity: .9;
}

p{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.imagem-card{
  height: 300px;

}








